@import "tailwindcss";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "./themes.css";

@plugin "daisyui" {
    themes: light-plus --default, dark-plus --prefersdark;
    root: ":root";
}

:root {
    font-family: "Kanit";
}
/*    font-weight: 500;*/

/*    --logo-accent: #4b9aeb;*/
/*    --co: #9FB8D2;*/
/*    --bg: #161D2A;*/
/*    --elements-bg: #9FB8D222;*/
/*    --spacing: 20px;*/
/*}*/

/*body.emerald {*/
/*    --logo-accent: #4b9aeb;*/
/*    --co: #9FB8D2;*/
/*    --bg: #161D2A;*/
/*    --elements-bg: #9FB8D222;*/
/*}*/

/*body {*/
/*    color: var(--co);*/
/*    background-color: var(--bg);*/
/*}*/
